.projects {
  padding: 64px 16px 88px;
  &__heading {
    font-size: 36px;
    line-height: 48px;
    color: $text-dark;
    text-align: center;
  }
  &__description {
    font-weight: 300;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    margin-bottom: 46px;
  }
}
.project {
  background: $gray;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  color: $console;
  font-size: 13px;
  line-height: 24px;
  font-family: Roboto Mono;
  &__circle {
    display: block;
    background: $mediumGray;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 8px;
  }
  &__content {
    padding: 24px 16px;
  }
  &__grid {
    display: grid;
    grid-template-columns: 102px 1fr;
  }
  &__label {
    text-align: right;
    margin-right: 4px;
    font-weight: normal;
    color: $darkerConsole;
  }
  &__title {
    font-size: 13px;
    line-height: 24px;
    color: white;
    font-weight: bold;
  }
  &__window {
    height: 40px;
    left: 0px;
    right: 0px;
    top: 0px;
    background: $darkgray;
    border-radius: 16px 16px 0px 0px;
    display: flex;
    align-items: center;
    padding: 0 0 0 16px;
  }
}
.links {
  color: $seeblue;
}
