$blue: #1070ca;
$text-dark: #234361;
$text: #425a70;
$lightblue: #4da8ff;
$lighterblue: #dbeaf7;
$gray: #212528;
$darkgray: #1e1e1e;
$mediumGray: #464a4d;
$console: #a3a3a3;
$darkerConsole: #808082;
$seeblue: #14b5d0;
